.catalog-item {
  &:first-child {
    margin-top: 12px;
  }
}

.catalog-item__inner-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @special-darkest-grey;
  text-transform: uppercase;
  margin: 0 0 18px 0;

  &--show-more {
    color: @special-black;
    margin-bottom: 8px;
  }
}

.catalog-item__button {
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  border: none;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  cursor: pointer;
  margin-bottom: 44px;

  &--show-more {
    background-color: @basic-grey;
    color: @special-dark-grey;
    margin-bottom: 25px;
  }
}

.catalog-item__inner-wrapper {
  margin-bottom: 13px;
}

.catalog-item__stats-table {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.catalog-item__inner-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px 0;
}
