.choice-form__group {
  font-size: 16px;
  line-height: 18px;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    height: 2px;
    background-color: @basic-green;
    position: absolute;
    left: 0;
    right: -20px;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      padding-left: 40px;
    }

    &::before {
      top: -71px;

      @media (min-width: @tablet-width) {
        top: -88px;
      }
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 569px 572px;
      gap: 78px;
      margin-bottom: 67px;
    }
  }

  &--radio {
    position: relative;

    @media (max-width: @mobile-only-width) {
      &::before {
        content: "";
        height: 1px;
        background-color: @basic-grey;
        position: absolute;
        left: -20px;
        right: -20px;
        top: 0;
      }

      &::after {
        content: "";
        height: 1px;
        background-color: @basic-grey;
        position: absolute;
        left: -20px;
        right: -20px;
        bottom: 0;
      }
    }

    @media (min-width: @tablet-width) {
      &::before {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &--data {
    @media (min-width: @tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--remark {
    @media (min-width: @tablet-width) {
      padding-left: 40px;
    }

    &::before {
      top: -11px;

      @media (min-width: @tablet-width) {
        top: -12px;
      }
    }
  }

  &--about {
    @media (min-width: @tablet-width) {
      padding-left: 40px;
    }

    &::before {
      top: -44px;

      @media (min-width: @tablet-width) {
        top: -74px;
      }
    }
  }
}

.choice-form__input {
  text-transform: uppercase;
  font: inherit;
  background-color: transparent;
  outline: 1px solid @basic-grey;
  border: none;
  margin: 0 0 0 13px;
  flex-grow: 1;
  padding: 13px 0 14px 16px;
  appearance: textfield;

  &::placeholder {
    color: @special-dark-grey;
    opacity: 1;
  }

  &:hover {
    outline-color: @special-grey;
  }

  &:focus {
    outline: 2px solid @special-dark-grey;
  }

  &--error {
    outline: 2px solid @red-error;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 0 12px 18px;
    margin: 0 0 0 19px;
  }
}

.choice-form__item {
  text-transform: uppercase;
  color: @special-darkest-grey;
  margin: 0 0 12px 0;

  .choice-form__group--radio & {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }
  }

  .choice-form__group--radio &:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  .choice-form__list--about & {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
}

.choice-form__title {
  color: @basic-black;
  font-size: 24px;
  line-height: 26px;
  width: 187px;
  margin: 0;
  padding: 26px 14px 35px 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: @basic-white;

  &--remark {
    padding: 0 22px 0 0;
    width: 121px;

    @media (min-width: @tablet-width) {
      padding-right: 38px;
      width: 182px;
    }
  }

  &--about {
    padding: 0 23px 34px 0;
    width: 141px;

    @media (min-width: @tablet-width) {
      padding: 0 41px 53px 0;
      width: 211px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 52px;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      padding: 0 42px 76px 40px;
      width: 512px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    position: static;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      height: 2px;
      background-color: @basic-green;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: inline-block;
      transform: translateY(5px);
    }
  }
}

@media (min-width: @desktop-width) {
  padding-right: 40px;
}


.choice-form__list {
  margin: 28px 0 0 0;
  padding: 0;
  list-style-type: none;

  &--about {
    margin: 10px 0 0 0;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: max-content max-content;
      column-gap: 124px;
      row-gap: 39px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 221px 221px 221px 221px;
      gap: 104px;
    }
  }

  .choice-form__group--radio & {
    @media (min-width: @tablet-width) {
      margin: 0 0 75px 0;
      padding: 30px 0 30px 0;
      outline: 1px solid @basic-light-grey;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 69px 0;
    }
  }
}

.choice-form__button-wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 1fr;
    align-items: center;
    gap: 61px;
    margin: 60px 0 72px 40px;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 66px 0 82px 40px;
    grid-template-columns: 568px 1fr;
    gap: 82px;
  }
}

.choice-form__group-wrapper {
  @media (min-width: @tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 569px 568px;
    gap: 80px;
  }
}

.choice-form__label {
  text-transform: uppercase;
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;
  position: relative;

  .choice-form__group--contacts &:last-child {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  .choice-form__group--contacts & {
    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  .choice-form__group--data &:last-child {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 20px 0;
  }
}

.choice-form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 37px 0 23px 0;
  padding: 9px 12px 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  min-height: 150px;
  text-align: center;
  border: 1px solid @special-light-grey;
  resize: none;
  box-sizing: border-box;

  &:hover {
    outline-color: @special-grey;
  }

  &:disabled {
    outline-color: @grey-line;
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid @special-dark-grey;
  }

  &::placeholder {
    color: @special-dark-grey;
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    margin: 76px 0 65px 0;
    min-height: 174px;
    padding: 8px 19px 0 17px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}

.choice-form__control {
  position: relative;
}

.choice-form__control-label {
  color: @basic-black;
  margin-left: 46px;

  .choice-form__group--about & {
    @media (min-width: @tablet-width) {
      margin-left: 59px;
    }
  }

  .choice-form__group--radio & {
    @media (min-width: @tablet-width) {
      margin-left: 88px;
    }
  }
}

.choice-form__control-mark {
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: @basic-white;
  outline: 1px solid @special-grey;

  &:hover {
    outline-color: @grey-line;
  }

  &--about {
    border-radius: 0;

    @media (min-width: @tablet-width) {
      margin: 0;
      width: 40px;
      height: 40px;
    }
  }

  .choice-form__group--radio & {
    @media (min-width: @tablet-width) {
      margin-left: 28px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.choice-form__radio:checked + .choice-form__control-mark::before {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @basic-green;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.choice-form__checkbox:checked + .choice-form__control-mark {
  background-image: url("../img/form/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;

  @media (min-width: @tablet-width) {
    background-size: 24px 19px;
  }
}

.choice-form__radio:disabled,
.choice-form__checkbox:disabled ~ span {
  outline-color: @special-grey;
  opacity: 0.3;
}

.choice-form__input-icon {
  position: absolute;
  right: 15px;

  &--phone {
    right: 13px;
    fill: @basic-black;

    @media (min-width: @desktop-width) {
      right: 17px;
    }
  }

  .choice-form__input--error + &--phone {
    fill: @red-error;
  }

  .choice-form__input--contacts:focus + &--phone {
    fill: @basic-green;
  }

  &--email {
    fill: none;
    stroke: lighten(@special-black, 6.5%);

    @media (min-width: @desktop-width) {
      right: 20px;
    }
  }

  .choice-form__input--error + &--email {
    stroke: @red-error;
  }

  .choice-form__input--contacts:focus + &--email {
    stroke: @basic-green;
    fill: @basic-green;
  }
}

.choice-form__button {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 280px;
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  cursor: pointer;
  margin: 15px 0 21px 0;

  &:hover {
    background-color: @special-green-dark;
  }

  &:active {
    background-color: @special-green-dark;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    height: 54px;
    width: 282px;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: @desktop-width) {
    height: 52px;
    width: 100%;
  }
}

.choice-form__caption {
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  font-family: "Arial", sans-serif;
  margin: 0 0 32px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
}
