.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}
