.content-wrapper {
  margin: 0 auto;

  @media (max-width: @mobile-only-width) {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
  }

  &--optional-present {
    @media (max-width: @mobile-only-width) {
      justify-content: stretch;
      justify-items: stretch;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
      gap: 79px;
      margin: 0 auto 86px auto;
      position: relative;
      padding: 0 110px 0 70px;
    }
  }
}
