.example-cat {
  background-color: @basic-grey;
}

.example-cat__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.example-cat__title {
  font-size: 36px;
  line-height: 40px;
  padding: 25px 0 40px 0;
  margin: 0;
  font-weight: 400;
  color: @basic-black;
}

.example-cat__list {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.example-cat__item-wrapper {
  display: flex;
}

.example-cat__item {
  display: flex;
  flex-direction: column;
}

.example-cat__number {
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.example-cat__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example-cat__title-text {
  text-transform: uppercase;
  color: @basic-black;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 40px 0;
}

.example-cat__toggle {
  text-transform: uppercase;
  color: @basic-black;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.example-cat__image {
  margin-bottom: 23px;
}

.example-cat__slider-wrapper {
  display: flex;
  padding-bottom: 48px;
}

.example-cat__range-scale {
  outline: 1px solid rgb(205, 205, 205);
  border-radius: 6px;
  width: 86px;
  height: 14px;
  background-color: @basic-white;
}

.example-cat__bar {
  background-color: @basic-green;
  border-radius: inherit;
  width: 36px;
  height: 6px;
}
