.page-main {
  flex-grow: 1;
  min-height: 100%;
  position: relative;

  &__catalog-wrapper {
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 709px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
    }
  }

  &__form-wrapper {
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: @tablet-width) {
      padding: 0 67px 0 31px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      justify-content: center;
      padding: 0 110px 0 70px;
    }
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  font-weight: 400;
  margin: 0;
  padding: 44px 0 37px 0;
  position: relative;

  &--catalog {
    padding: 93px 0 60px 20px;

    @media (min-width: @tablet-width) {
      padding: 141px 0 163px 0;
    }

    @media (min-width: @desktop-width) {
      padding: 188px 0 165px 0;
    }
  }

  &--form {
    padding: 93px 0 37px 0;

    @media (min-width: @tablet-width) {
      padding: 144px 0 54px 40px;
    }

    @media (min-width: @desktop-width) {
      padding: 187px 0 56px 40px;
    }
  }


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__text {
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0 0 39px 0;

  &--form {
    @media (min-width: @tablet-width) {
      padding-left: 40px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 0 66px 0;
  }
}
