.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  margin: 0 auto;
  align-items: center;
  width: 88%;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-footer__social {
  position: relative;

  @media (max-width: @mobile-only-width) {
    &::before {
      content: "";
      height: 1px;
      background-color: @special-light-grey;
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: 0;
    }
  }
}

.page-footer__social-list {
  margin: 0 auto;
  padding: 20px 0 18px 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding: 5px 0 0 25px;

    &::before {
      display: none;
    }
  }
}

.page-footer__about-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  @media (max-width: @mobile-width) {
    padding-top: 22px;
  }

  @media (min-width: @tablet-width) {
    gap: 22px;
  }
}

.page-footer__social-icon {
  &:not(&--facebook) {
    fill: @dark-grey;
  }

  &--facebook {
    stroke: @dark-grey;

    @media (min-width: @tablet-width) {
      width: 28px;
      height: 33px;
    }
  }

  .page-footer__social-link:hover &:not(&--facebook) {
    fill: @basic-green;
  }

  .page-footer__social-link:active & {
    opacity: 0.3;
  }

  .page-footer__social-link:hover &--facebook {
    stroke: @basic-green;
  }

  &--vk {
    @media (min-width: @tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}

.page-footer__about-icon {
  fill: @dark-grey;

  .page-footer__about-link:hover & {
    fill: @basic-green;
  }
}

.page-footer__about-text {
  color: @special-dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__about {
  @media (max-width: @mobile-only-width) {
    padding-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding: 39px 0 29px 0;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    background-color: @special-light-grey;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 63px 0 55px 0;

    &::before {
      display: none;
    }
  }
}
