.present {
  @media (min-width: @desktop-width) {
    align-self: end;
  }
}

.present__background-wrapper {
  background-color: @special-green-light;
  z-index: 1;
  display: grid;
  justify-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    padding: 57px 124px 60px 77px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    padding: 56px 0 42px 0;
    flex-direction: column;
  }
}

.present__wrapper {
  background-image: url("../img/catalog/present/cat-background-image.jpg");
  background-repeat: no-repeat;
  margin: 35px auto 35px auto;
  align-items: center;
  width: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/present/cat-background-image@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/catalog/present/cat-background-image-big.jpg");
    width: 707px;
    margin: 69px auto 71px auto;
    background-size: cover;
    background-position: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/present/cat-background-image-big@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 245px;
    background-image: url("../img/catalog/present/cat-background-image.jpg");
    background-position: -35px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/present/cat-background-image@2x.jpg");
    }
  }
}

.present__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  margin: 0;
  padding-bottom: 43px;
  width: 161px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.present__image {
  margin: 59px 0 45px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 80px;
    height: 83px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 46px 0;
  }
}
